@using BootstrapSupport
@model Pureen.Web.Models.ListNewsModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit a New</h3>
</div>

@using (Html.BeginForm("Edit", "Administrator", FormMethod.Post, new { @class = "modal-form" }))
{
@Html.ValidationSummary()

    <div  class="modal-body">
        
        <div hidden>
            @Html.EditorFor(x=>x.Id)
        </div>
        <div class="controls-row">
             @Html.LabelFor(x=>x.Heading)
             @Html.EditorFor(x=>x.Heading)
        </div>
        <div class ="controls-row">
             @Html.LabelFor(x=>x.Information)
             @Html.EditorFor( x=>x.Information)
        </div>
       
    </div>

<div class="modal-footer">
    <button class="btn btn-primary" type="submit">Save Changes</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
</div>

}