@using BootstrapSupport
@model System.Collections.Generic.List<Pureen.Web.Models.ListNewsModel>

<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            @foreach (var property in Model.VisibleProperties())
            {
                if (property.Name != "Information")
                {
                    <th>
                        @property.GetLabel().ToSeparatedWords()
                    </th>
                }
            }
            <th></th>
        </tr>
    </thead>
    @{ int index = 0; }
    @foreach (var model in Model)
    {
        
        ViewData[index.ToString()] = model;
        <tr>
            @foreach (var property in model.VisibleProperties())
            {
                if (property.Name != "Information")
                {
                    <td>
                        @Html.Display(index + "." + property.Name)
                    </td>
                }
            }
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
                            var modelo = model;
                            @Html.TryPartial("_actions", model)                            
                            var routevalues = model.GetIdValue();  
                            <li><a href="#" data-toggle="modal" onclick="showModal2('#EditModalContainerId','#EditModalBodyID', @modelo.Id)" >Edit</a> </li>
                            <li><a href="#" data-toggle="modal" onclick="showModal2('#ChangeLogModalContainerId','#ChangeLogModalBodyID', @modelo.Id)" >ChangeLog</a> </li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Delete", "DeleteNew", routevalues)</li>
                               
                        }
                    </ul>
                </div>

            </td>
        </tr>
        index++;
    }

</table>

<div id='EditModalContainerId' class="modal hide fade" data-url='@Url.Action("Edit", "Administrator")'>
    <div id="EditModalBodyID">
        
    </div>
</div>
<div id='ChangeLogModalContainerId' class="modal hide fade" data-url='@Url.Action("ViewNoticeChangeLog", "Administrator")'>
    <div id="ChangeLogModalBodyID">
        
    </div>
</div>


<script src="http://code.jquery.com/jquery-1.10.1.min.js"> </script>
<script type="text/javascript">
    
    function showModal2(modalContainerId, modalBodyId, id) {
        alert("Entro aqui");
        var url = $(modalContainerId).data('url');

        $.get(url, { id: id }, function (data) {
            $(modalBodyId).html(data);
            $(modalContainerId).modal('show');
           
        });
    }
</script>